@charset "UTF-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

body {
	margin: 0;
  /*margin-top: 94px;*/
	padding: 0;
	-webkit-animation-delay: 1s;
    	-webkit-animation-name: fontfix;
    	-webkit-animation-duration: 0.1s;
    	-webkit-animation-iteration-count: 1;
    	-webkit-animation-timing-function: linear;
  position: relative;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

#header-image {
  width: 100%;
}

.navbar-inverse {
  vertical-align: middle;
  background-color: #a21e1e;
  color: #FFF;
  border-style: none;
  border-radius: 0px;
}

.navbar-nav a:link, .navbar-nav a:visited {
	color: #FFF;
	text-decoration: none;
	transition: font 0.3s ease;
	-webkit-transition: font 0.3s ease;
	-moz-transition: font 0.3s ease;
	-o-transition: font 0.3s ease;
	-ms-transition: font 0.3s ease;
}

.navbar-nav a:hover {
	color: #E56868;
  text-shadow: 1px 1px 3px #000;
}

.navbar-nav a:active {
	color: #FFF;
	text-decoration: none;
  text-shadow: none;
	position: relative;
	bottom: -2px;
	right: -2px;
}

.navbar-nav {
	font-family: 'Hind', sans-serif;
	font-size: 16px;
  text-transform: uppercase;
  	line-height: 84px;
    height: auto;
}

.navbar-nav a {
	padding: 10px 8px !important;
}


.navbar-nav b {
	font-weight: 900;
}

#sticky-navbar {
  z-index: 1041;
}

@media (max-width: 838px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .nav-bar li, .navbar a {
      line-height: 35px !important;
    }
}

#about {
	background-image: url("background-about.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.content-page {
  min-height: 550px;
  padding: 80px;
  padding-top: 60px;
}

.content {
	background-color: rgba(255,255,255,0.75);
	overflow: scroll;
}

.grey-background {
  background-color: #b9b9b9;
  color: #FFF;
}

.red-background {
  background-color: #ffa08c;
}

h1 {
	font-family: 'Kalam', sans-serif;
	font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #666666;
	margin-top: 3px;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}

#about p {
  font-size: 14px;
}

#resources li {
  font-family: 'Lato', sans-serif;
}

.nav-tabs li a {
	font-family: 'Lato', sans-serif;
	color: #b73333;
}

.nav-tabs li a:hover {
  color: #7c2323;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  padding-top: 40px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

#mc_embed_signup .button {
	background-color: #A21E1E !important;
}

#contactForm input, #contactForm textarea {
	display: block;
	width: 100%;
	padding: 8px 0;
	margin: 8px 0;
	margin-bottom: 0;
	text-indent: 2%;
	border: 1px solid #999;
	-webkit-appearance: none;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}

#contactForm textarea {
	padding: 8px 2%;
	text-indent: 0;
}

#contactForm #contactSubmit {
	border: 0 none;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin: 0 5px 10px 0;
	padding: 0 22px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
	background-color: #A21E1E;
	-webkit-appearance: none;
}

#contactForm {
  margin-top: -8px;
}

.news-container div span {
	display: block;
}

#footer {
	margin-top: 40px;
  text-align: center;
}

.socialmedia {
  list-style-type: none;
  padding-left: 0;
}

.socialmedia li {
  display: inline;
  margin: 5px;
  font-size: 2.5em;
}

.socialmedia a {
  color: #000;
}

.socialmedia a:hover {
  color: #A21E1E;
}

footer p {
	text-align: center;
	font-size: 12px;
}
