<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<meta name="author" content="Caterina Turnbull">
<meta name="description" content="The official page for the Monash Music Students' Society. Providing academic resources for students and helping musicians at Monash University connect.">
<meta name="keywords" content="Monash,University,Music,Student,Students,Students',Society,Club,musicians">-->
<meta name="robots" content="noindex">
<title>{{page.title}}</title>
<link rel="stylesheet" type="text/css" href="bootstrap.css">
<link rel="stylesheet" type="text/css" href="style.css" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,700|Amatic+SC:400,700|Dancing+Script:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="magnific-popup/magnific-popup.css">
<link rel="stylesheet" href="pagination/jqpagination.css">
<link rel="stylesheet" href="bootstrap.vertical-tabs.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="jquery.shorten.js"></script>
<script src="pagination/jquery.jqpagination.min.js"></script>

</head>

<body>

<!--NAVBAR-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img id="headerlogo" src="https://cloud.githubusercontent.com/assets/13402275/8978758/7df873c4-36e8-11e5-9f08-3c703bf99316.png" style="height: 80px;" /></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#signup" class="open-popup-link"><b>Sign Up</b></a></li>
        <li><a href="index.html">About Us</a></li>
        <li><a href="events.html">Events</a></li>
	<li><a href="news.html">News</a></li>
  <li><a href="resources.html">Resources</a></li>
	<li><a href="promote.html">Promote Your Band and Gigs</a></li>
	<li><a href="sponsors.html">Sponsors</a></li>
	<li><a href="contact.html">Contact</a></li>
      </ul>

    </div>
  </div>
</nav>
<!--NAVBAR END-->

<div id="signup" class="white-popup mfp-hide">
  <p>You don't have to be a student to join the MMSS, but in order to become a member and get connected with the Monash University music community, the easiest way to sign up is to <b>attend one of our events</b>. Membership is $7 or $2 if you're a MSA Card Holder. To be notified of future events, feel free to sign up to our mailing list below.</p>

  <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//facebook.us11.list-manage.com/subscribe/post?u=1d497063712df1f8ca7206041&amp;id=c3789e9515" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address </label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1d497063712df1f8ca7206041_c3789e9515" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

</div>



<div class="container-fluid">
	<div class="row">





    <div class="col-sm-10 col-sm-offset-1" id="innercontainer">
    	<div id="content">

    		{{content}}

      </div>
    </div>
	</div>

	<div class="row">
		<div class="col-sm-12" id="footer">
      <ul class="socialmedia">
    	<li><a href="mailto:music@monashclubs.org" target="_blank">
    		<i class="fa fa-envelope"></i>
    	</a></li>
            <li><a href="https://www.facebook.com/monashmss" target="_blank">
            	<i class="fa fa-facebook-official"></i>
            </a></li>
            <li><a href="https://twitter.com/monashmusicss" target="_blank">
            	<i class="fa fa-twitter"></i>
            </a></li>
          </ul>
			<footer id="copyright"></footer>
		</div>
	</div>
</div>


<script>
document.getElementById("copyright").innerHTML =
"<p>Copyright &copy;  " + new Date().getFullYear() + " Monash Music Students' Society. All rights reserved. | <a href='termsandconditions.html'>Terms &#38; Conditions</a><br />Hosted on Github Pages.</p>";

$('.open-popup-link').magnificPopup({
  type:'inline',
  midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
});


//var w1 = $(".navbar-left").width();
//var w2 = $(".navbar-right").width();
//var topwidth = w1 + w2;

/*$(window).resize(function(){
    if (($(window).width() - $(#headerlogo).width()) < ($(".navbar-left").width() + $(".navbar-right").width())) {
        $(".navbar-right").hide();
    } else {
        $(".navbar-right").show();
    }
});*/

$(document).ready(function() {

    // hide all but the first of our paragraphs
    $('.news-container div:not(:first)').hide();

    $('.pagination').jqPagination({
        max_page    : $('.news-container div').length,
        paged        : function(page) {

            // a new 'page' has been requested

            // hide all paragraphs
            $('.news-container div').hide();

            // but show the one we want
            $($('.news-container div')[page - 1]).show();

        }
    });

});

//$('.article').readmore({
//collapsedHeight: 100,
//  moreLink: '<a href="#">Read more</a>',
//  lessLink: '<a href="#">Read less</a>'
//});
$(document).ready(function() {
	$('.article').shorten({
	    moreText: 'Read more',
	    lessText: 'Read less',
	    showChars: 220
	});
});

</script>





</body>
</html>
